.newsletter {
  width: 100%;
  padding: 4rem;
  &-container {
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    padding: 4rem;
  }
  &-heading {
    text-align: center;
    font-size: 2rem;
  }
  &-text {
    text-align: center;
    font-size: 1rem;
  }
  &-group {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  &-offscreen {
    position: absolute;
    margin-left: -99rem;
  }
  &-input {
    border-radius: 1rem;
    border: 1px solid grey;
    padding: 0 1rem;
    width: 20rem;
    transition: all 0.4s;
    &:focus {
      width: 21rem;
    }
  }
  &-btn {
    background-color: black;
    border: none;
    padding: 0.5rem 0;
    width: 7rem;
    margin-left: -4rem;
    color: white;
    border-radius: 1rem;
    transition: all 0.4s;
    &:hover {
      background-color: rgb(40, 40, 40);
    }
    &:active {
      transform: translateX(-2px);
    }
  }
}

@media screen and (max-width: 720px) {
  .newsletter {
    padding: 2rem 0;
    &-heading {
      text-align: center;
      font-size: 1.2rem;
    }
    &-text {
      text-align: center;
      font-size: 12px;
    }

    &-input {
      width: 15rem;
      transition: all 0.4s;
    }
    &-btn {
      font-size: 14px;
      background-color: black;
      border: none;
      padding: 0.5rem 0;
      width: 5rem;
      margin-left: -4rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .newsletter {
    width: 79rem;
    padding: 4rem 0;
    margin-top: 3rem;
    &-heading {
      text-align: center;
      font-size: 2rem;
    }
    &-text {
      text-align: center;
      font-size: 1.2rem;
    }

    &-input {
      width: 25rem;
      font-size: 1.2rem;
      transition: all 0.4s;
    }
    &-btn {
      font-size: 1.2rem;
      padding: 0.5rem 0;
      width: 7rem;
    }
  }
}
